*.DS_Store
*.ipynb_checkpoints
*.pyc
.idea
src/output/*
src/input4test/*
src/nfdump_modified
src/functions/intermediate_file.csv
src/functions/input4test/ntp1.pcap
src/functions/input4test/udp1.pcap
src/functions/input4test/chargen1.pcap
src/functions/input4test/ssdp1.pcap
src/output
src/settings.py
venv/
main.dist/
fingerprints/
*.log
*.conf
*.ini
*.pcap
parquet/
duckdb/
