attrs==21.4.0
certifi==2023.7.22
charset-normalizer==2.0.12
Deprecated==1.2.13
idna==3.3
jsonschema==4.4.0
netaddr==0.8.0
numpy==1.22.3
pandas==1.4.1
pymisp==2.4.155.1
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.31.0
six==1.16.0
urllib3==1.26.18
wrapt==1.14.0
